.form-check {
  font-size: 16px;
  margin-bottom: 20px;
}

.form-check-label {
  font-size: 16px;
  color: black;
}

.form-check-input {
  margin-top: 0px;
}

.custom-input {
  border-radius: 25px;
  border: 0px solid #dedede;
  padding: 8px 20px;
  background-color: #3f3f3f;
  font-size: 16px;
  color: white;
  height: 55px;
  margin-bottom: 20px;
}

.custom-input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.error {
  border-color: red !important;
  border-width: 1px !important;
}

.custom-input::placeholder {
  color: white;
  font-family: "NT", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: #3f3f3f;
  border-radius: 4px;
  border: 1px solid #3f3f3f;
  appearance: none; /* Remove default checkbox styling */
  -webkit-appearance: none; /* Remove default checkbox styling for WebKit browsers */
  outline: none; /* Remove default outline */
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #236ddc;
  border-color: #236ddc;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-input-password {
  position: relative;
}

.custom-input-password input {
  width: 100%;
  padding-right: 60px;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff52;
  /* Default color */
  font-size: 18px;
}

.toggle-password:hover {
  color: #ffffff;
  /* Hover color */
}

.custom-input-login {
  position: relative;
  border-radius: 25px;
  border: 0px solid #dedede;
  padding: 12px 20px 8px 20px;
  background-color: #3f3f3f;
  font-size: 16px;
  color: white;
  height: 55px;
  margin-bottom: 20px;
}

.custom-input-login::placeholder {
  color: #c6c9c4;
  font-family: "NT", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.custom-input-login:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.custom-input-login.error {
  border-color: red;
  border-width: 1px;
}

.custom-input-login-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.calendar-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.calendar-input .calendar-icon {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>')
    no-repeat center center;
  pointer-events: none;
}

.hidden-date-input {
  display: none;
}

@media (max-width: 768px) {
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}
